package main

templ WindowsSettings(commands []commandRow) {
	<bk-table columns="1fr 1fr">
		<div class="table-header">
			<div>Voice Command</div>
			<div class="align-right">Action</div>
		</div>
		for _, cmd := range commands {
			<div class="settings-row">
				<div class="label">{ cmd.Phrase }</div>
				<div class="command-action">{ cmd.Description }</div>
			</div>
		}
	</bk-table>
}
